<%- include('../partials/header') { %>
<section id="show-page">
    <div>Food: </div>
    <div><%= order.food %></div>
    <div>Price: </div>
    <div><%= order.price %></div>
    <div>Review: </div>
    <div><%= order.review %></div>
    <div> </div>
    <div><%= order.price.join(', ') %></div>
    <% }); %>
    <div> </div>
    <div></div>
  </section>

  <br><br><h2>Reviews</h2>
<form id="add-review-form" method="POST"
  action="/orders/<%= order._id %>/reviews">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input type="submit" value="Add Review">
  <div class='review'><button>Add a review</button><input type='text'> </div>
</form>

<%- include('../partials/footer') %>