<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style4.css' />
</head>
<body>
  <nav>
    <a href="/">home</a>
    &nbsp; | &nbsp;
    <a href="/foods">All Order</a>
    &nbsp; | &nbsp;
    <a href="/orders">Complete Detail Order</a>
  </nav>
    <body>
      <main class='main-Ctrl'>
         <div> 
            
            <h3 class="final-card">Order Completed</h3>
            <div class="">
              <ul class="final-list">
                <ol name='food'>Food: <%= order.food %></ol>
                <ol>Price: <%= order.price %></ol>
                <ol>Tip: <%= order.tip %></ol>
                <a href="/orders<%= order.id %>/order"></a>
              </ul>
            </div>
         
         

    <form  action="/orders/<%= order.id %>?_method=PUT" method="POST" autocomplete="off">
      <div class="form-update">
      <label for="food">Food:</label>
      <input class="form-control" type="text" name="food" placeholder="Update food" value="<%=order.food %>">
      <label for="food">Price:</label>
      <input class="form-control" type="number" name="price" placeholder="Update price" value="<%=order.price %>">
      <label for="food">Tip:</label>
      <input class="form-control" type="number" name="tip" placeholder="Update tip" value="<%=order.tip %>">
      <button type="submit">Update Order</button>
      </form> 
    </div>
    </div>
  </main>
  <main>
    <form class="form-review"  method="POST" action="/orders/<%= order._id %>/reviews">
      <div>
    <label for="Review">Review of Order:</label>
    <textarea name="comment" rows="4" cols="50"></textarea>
    <label>Rating: </label>
    <select name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            <input type="submit" value="Add Review">
            
            </form>  
          </div>
          <% if (order.reviews.length > 0) { %>
            <h4>Reviews:</h4>
            <table>
                <tbody>
                    <% order.reviews.forEach((review) => { %>
                    <tr>
                        <td><%=review.comment%></td>
                        <td><%=review.rating%></td>
                        <td>
                            <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
          </main>
</body>
</html>